# Ignore all files
docs/*
!docs/DYNAMIC_EXECUTOR_REFACTOR.md
!docs/NEW_TOOLS_IMPLEMENTATION_PLAN.md
!docs/privacy_notice.md
vendor
.goaiagent/
.goaiagent/extensions/
.goaiagent/tmp/
todo-api/
chat_log.txt
